.node {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 8px;
  background-color: #555;
  transition: 0.3s;
}

.node.active {
  background-color: green;
  cursor: pointer;
}

.node.visited {
  background-color: blue;
}

.node.blocked {
  background-color: #300;
  pointer-events: none;
}

@keyframes blink {
  0%, 100% { background-color: orange; }
  50% { background-color: white; }
}

.node.preview {
  animation: blink 1s infinite;
}
